* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.UPPER-CASE {
  text-transform: uppercase;
}

#active {
  color: #0282F9;
}

#active::before {
  display: inline-block;
  content: "";
  width: 80%;
  height: 4px;
  background-color: #0282F9;
  position: absolute;
  bottom: -200%;
}

.header-top {
  background: #0282F9;
}

.header-top .container {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 0.6rem;
  padding: 5px 0;
}

.header-top .container p:first-of-type {
  padding-right: 2rem;
}

.header-top .container p:last-of-type i {
  padding-left: 5px;
}

nav.menu .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

nav.menu .container .logo {
  height: 75px;
}

nav.menu .container .logo img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

nav.menu .container .pages {
  padding: 0 1rem;
  text-align: center;
}

nav.menu .container .pages a {
  position: relative;
  text-decoration: none;
  padding: 0 0.5rem;
  padding-top: 5px;
  color: #6F4646;
}

nav.menu .container .search {
  border-bottom: 2px solid #0282F9;
  width: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav.menu .container .search input {
  border: 0;
  text-align: right;
  padding-bottom: 0.2rem;
}

.jumbotron {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  height: 400px;
  background-position: top;
  position: relative;
}

.jumbotron .current-series {
  position: absolute;
  bottom: -6%;
  padding: 1rem 1.5rem;
  color: white;
  background-color: #0282F9;
}

#site_footer {
  color: white;
}

.top-footer {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
}

.top-footer .container {
  position: relative;
}

.top-footer .container .big-logo {
  height: 400px;
  position: absolute;
  right: 0;
}

.top-footer .container .big-logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-footer .container .link-container {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  padding: 4rem 0;
}

.top-footer .container .link-container .group {
  width: calc(100%/3 - 1rem);
  display: flex;
  flex-direction: column;
}

.top-footer .container .link-container .group h4 {
  color: white;
  padding-bottom: 0.8rem;
}

.top-footer .container .link-container .group a {
  text-decoration: none;
  color: #959595;
  font-size: 0.8rem;
}

.top-footer .container .link-container .copyright {
  color: #959595;
  font-size: 0.8rem;
  padding-top: 2rem;
}

.top-footer .container .link-container .copyright a {
  text-decoration: none;
  color: #0282F9;
}

