* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.UPPER-CASE {
  text-transform: uppercase;
}

#active {
  color: #0282F9;
}

#active::before {
  display: inline-block;
  content: "";
  width: 80%;
  height: 4px;
  background-color: #0282F9;
  position: absolute;
  bottom: -200%;
}

.header-top {
  background: #0282F9;
}

.header-top .container {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 0.6rem;
  padding: 5px 0;
}

.header-top .container p:first-of-type {
  padding-right: 2rem;
}

.header-top .container p:last-of-type i {
  padding-left: 5px;
}

nav.menu .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

nav.menu .container .logo {
  height: 75px;
}

nav.menu .container .logo img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

nav.menu .container .pages {
  padding: 0 1rem;
  text-align: center;
}

nav.menu .container .pages a {
  position: relative;
  text-decoration: none;
  padding: 0 0.5rem;
  padding-top: 5px;
  color: #6F4646;
}

nav.menu .container .search {
  border-bottom: 2px solid #0282F9;
  width: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav.menu .container .search input {
  border: 0;
  text-align: right;
  padding-bottom: 0.2rem;
}

.jumbotron {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  height: 400px;
  background-position: top;
}

