* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.UPPER-CASE {
  text-transform: uppercase;
}

#active {
  color: #0282F9;
}

#active::before {
  display: inline-block;
  content: "";
  width: 80%;
  height: 4px;
  background-color: #0282F9;
  position: absolute;
  bottom: -230%;
}

.blue-bar {
  background-color: #0282F9;
  padding: 2.5rem 0;
}

.card {
  position: absolute;
  margin-top: -17rem;
}

.card .poster {
  position: relative;
  width: auto;
  height: 250px;
}

.card .poster img {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card p.book {
  position: absolute;
  top: 0;
  color: white;
  background-color: #25aad9;
  font-size: 0.7rem;
  padding: 0.3rem;
}

.card p.gallery a {
  text-decoration: none;
  color: white;
  background-color: #25aad9;
  font-size: 0.7rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

