
    
    
    .top-footer{
        color: white;
    
        background-image: url('../../../public/img/footer-bg.jpg');
        
        .container{
            // position: relative;
            display: flex;
          

            .big-logo{
                width: 60%;
                height: 400px;
               
                
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                
            }
            .link-container{
                display: flex;
                width: 40%;
                flex-wrap: wrap;
                padding-top: 2rem;

            

                .group{
                    width: calc(100%/3 - 1rem);
                    display: flex;
                    flex-direction: column;

                    h4{
                        color:white;
                        font-size: 0.8rem;
                        padding-bottom: 1rem;
                    }
                    a{
                        text-decoration: none;
                        color: #959595;
                        font-size: 0.7rem;
                    }
                }


                .copyright{
                    color: #959595;
                    font-size: 0.8rem;
                    

                    & a{
                        text-decoration: none;
                        color: $header-color;
                    }
            
                }

            }



        }

    }




    .bottom-footer{
        background-color: $bottom-footer-color;
        color: white;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0 3rem;

            .sign{
                border: 2px solid $header-color;
                padding: 1rem;

                h3{
                    font-size: 1rem;
                }
            }




            .socials{
                display: flex;
                align-items: center;

                h3{
                    font-size: 1.2rem;
                    padding-right: 1.5rem;
                    color: $header-color;
                }
                span{
                    margin: 0 0.5rem;
                    border: none;
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #797979;

                    i{
                        font-size: 1.1rem;
                        color: $bottom-footer-color;
                    }

                }
            }
        }






    }


