#site_footer{
    
    color: white;
  
 

    .top-footer{
    
        background-image: url('../../../public/img/footer-bg.jpg');
        
        .container{
            // position: relative;
            display: flex;
          

            .big-logo{
                width: 60%;
                height: 400px;
               
                
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                
            }
            .link-container{
                display: flex;
                width: 40%;
                flex-wrap: wrap;
                padding-top: 2rem;

            

                .group{
                    width: calc(100%/3 - 1rem);
                    display: flex;
                    flex-direction: column;

                    h4{
                        color:white;
                        font-size: 0.8rem;
                        padding-bottom: 1rem;
                    }
                    a{
                        text-decoration: none;
                        color: #959595;
                        font-size: 0.7rem;
                    }
                }


                .copyright{
                    color: #959595;
                    font-size: 0.8rem;
                    

                    & a{
                        text-decoration: none;
                        color: $header-color;
                    }
            
                }

            }



        }

    }

}


