// TOP PART 

.header-top{
    background: $header-color;

    & .container{
        display: flex;
        justify-content: flex-end;
        color: white;
        font-size: 0.6rem;
        padding: 5px 0;


        p:first-of-type{
            padding-right: 2rem;
        }

        p:last-of-type i {
            padding-left: 5px;
        }


    }
}


// NAV BAR 

nav.menu {
    & .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;


            .logo {
                height: 75px;
                img{
                    height: 100%;
                    object-fit: contain;
                }
            }

            .pages{
                padding:0 1rem;
                text-align: center;
                a{
                    text-decoration: none;
                    padding-right: 0.5rem;
                    padding-top: 5px;
                    color: $main-font-color;
                }
            }

            .search{
                input{
                    border: 0;
                    border-bottom: 2px solid $header-color;
                    text-align: right;
                    padding-bottom: 0.2rem;
                }
            }


    }
}
