@import 'partials/variables';
@import 'partials/common';


.blue-bar{
    background-color: $header-color;
    padding: 2.5rem 0;
}

.card{  
    position: absolute;
    margin-top: -17rem;
    .poster{
        position: relative;
        width: auto;
        height: 250px;
       img{
        width: auto;
        height: 100%;
        object-fit: contain;
       }
    }

    p.book{
        position: absolute;
        top: 0;
        color: white;
        background-color:$azzurro;
        font-size: 0.7rem;
        padding: 0.3rem;
    }

    p.gallery a{
        text-decoration: none;
        color: white;
        background-color: $azzurro;
        font-size: 0.7rem;
        padding: 0.5rem;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

}


.section-one{
    display: flex;
    justify-content: space-between;

    .info-card{
        margin-right: 2rem;
        flex-basis: 70%;

        .market{
            display: flex;

            .price{
                flex-basis: 60%;
                justify-content: space-between;
                display: flex;
            }
            .availability{
                flex-basis: 40%;
            }
        }

    }
    
    .advertisement{
        flex-basis: 30%;
        height: 200px;
        border: 2px solid black;
    
    }


}